<!-- <div class="container"> -->
  <mat-card>
    <h1>Employee Management System</h1>
    <button mat-raised-button color="accent" (click)='addEmployee()'><mat-icon>person_add</mat-icon> EMPLOYEE</button>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container  *ngFor='let column of  displayedColumns'>
              <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>{{ column}}</th>
                <span *ngIf="column != 'Resume' && column != 'Edit' && column != 'Delete' ">
                  <td mat-cell *matCellDef="let row">{{row[column]}}</td>
                </span>                
                <span *ngIf="column === 'Resume'">
                    <td mat-cell *matCellDef="let element"><mat-icon>get_app</mat-icon> </td>
                </span>
                <span *ngIf="column === 'Edit'">
                  <td mat-cell *matCellDef="let element ; let i = index;" (click)='editEmployeeData(i)' ><mat-icon class='edit-icon'>create</mat-icon> </td>
                 </span>
                 <span *ngIf="column === 'Delete'">
                   <td mat-cell *matCellDef="let element ; let i = index;"><mat-icon class='delete-icon'>delete</mat-icon> </td>
                 </span>
              </ng-container>
            </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25,100]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
  </mat-card>
<!-- </div> -->


  